{% extends "admin/base_site.html" %}
{% load static l10n site_extras datatablesview_widget %}

{% block title %}{{title}} | {{current_site.name}}{% endblock %}

{% block content_title %}
{% endblock %}

{% block content %}
<div class="iso-bootstrap">
    <div class="row">
        <div class="col-md-12">

            <h4>{{title}}</h4>
            <p class="text-muted"></p>
            <hr>
            <form action="" method="GET" class="form-inline mb-3">

                Período:
                <input type="date" name="start_date" class="form-control ml-2 mr-2" value="{{start_date|date:"Y-m-d"}}"> até
                <input type="date" name="end_date" class="form-control ml-2 mr-2" value="{{end_date|date:"Y-m-d"}}">
                <select name="gateway" class="form-control mr-2">
                    <option value="moip">Moip</option>
                    <option value="mercado_pago">Mercado Pago</option>
                </select>
                <input type="submit" class="btn btn-warning " value="Filtrar"></input>
                <a href="?start_date={{filter_dates.first_day_current_month|date:"Y-m-d"}}&end_date={{filter_dates.today|date:"Y-m-d"}}&consultant={{consultant_id|unlocalize}}" class="btn">Esse mês</a> -
                <a href="?start_date={{filter_dates.first_day_last_month|date:"Y-m-d"}}&end_date={{filter_dates.last_day_last_month|date:"Y-m-d"}}&consultant={{consultant_id|unlocalize}}" class="btn">Mês passado</a> -
                <a href="?start_date={{filter_dates.last_90_days|date:"Y-m-d"}}&end_date={{filter_dates.today|date:"Y-m-d"}}&consultant={{consultant_id|unlocalize}}" class="btn">Últimos 90 dias</a> -
                <a href="?start_date={{filter_dates.first_day_platform|date:"Y-m-d"}}&end_date={{filter_dates.today|date:"Y-m-d"}}&consultant={{consultant_id|unlocalize}}" class="btn">Total geral</a>

            </form>

        </div>

        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-striped" id="tableReport">
                    <thead>

                        <tr>
                            {% for column in columns %}
                            <th class="{{column.class}}" {% if column.title %}title="{{column.title}}"{% endif %}>{{column.name}}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            {% for column in columns %}
                            <th></th>
                            {% endfor %}
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for obj in page_obj %}
                        <tr>
                            {% for column in columns %}
                            <td {% if column.type %}data-order="{{obj|datatable_order_value:column}}"{% endif %}>{{obj|datatable_column_value:column}}</td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>



</div>

{% endblock %}


{% block extrajs %}
{{block.super}}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.12.1/datatables.min.css"/>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.12.1/datatables.min.js"></script>


<script type="text/javascript">

    $(document).ready(function () {

        jQuery.fn.dataTable.Api.register( 'average()', function () {
            var data = this.flatten();
            var sum = data.reduce( function ( a, b ) {
                if ( typeof a === 'string' ) {
                    a = a.replace('R$ ', '').replace('%','').replace(' ','');
                    a = a.split('.').join('').split(',').join('.');
                }
                if ( typeof b === 'string' ) {
                    b = b.replace('R$ ', '').replace('%','').replace(' ','');
                    b = b.split('.').join('').split(',').join('.');
                }

                return (a*1) + (b*1); // cast values in-case they are strings
            }, 0 );

            return sum / data.length;
        } );

        var table = $('#tableReport').DataTable(
            {
                "processing": true,
                "serverSide": {{server_side}},
                "ajax": '{{url}}',
                "deferLoading": {{defer_loading}},
                "pageLength": {{page_length}},
                "searching": {{searching}},
                "order": [],
                "columns": [
                    { data: 'month_year' },
                    { data: 'total_events' },
                    { data: 'total_orders' },
                    { data: 'total_orders_chargeback' },
                    { data: 'total_paid' },
                    { data: 'total_chargeback_amount' },
                    { data: 'cbk_index' },
                ],
                "columnDefs": [
                    { "orderable": false, "targets": [{{not_ordering_targets}}] }
                ],
                "language": {
                    "url": "{% static 'js/datatable/Portuguese-Brasil.json' %}"
                },
                "footerCallback": function (row, data, start, end, display) {
                    var api = this.api(), data;

                    api.columns('.sum').every(function (i) {
                        var sum = this
                            .data()
                            .reduce(function (a, b) {
                                if (typeof a == 'string') {
                                    a = a.replace('R$ ', '');
                                    a = a.split('.').join('').split(',').join('.');
                                    a = Number(a)
                                }
                                if (typeof b == 'string') {
                                    b = b.replace('R$ ', '');
                                    b = b.split('.').join('').split(',').join('.');
                                    b = Number(b);
                                }

                                return a + b;
                            });

                        $(api.column(i).footer()).html(
                            sum.toLocaleString(undefined, { minimumFractionDigits: 2 })
                        );

                    });

                    api.columns('.avg').every(function (i) {
                        $(api.column(i).footer()).html(
                            Math.round(table.column(i).data().average())
                        );
                    });

                    api.columns('.avg_pct').every(function (i) {
                        $(api.column(i).footer()).html(
                            Math.round(table.column(i).data().average() * 100) / 100 + "%"
                        );
                    });

                }

            }
        );

    });
</script>

{% endblock %}
