{% load datatablesview_widget %}
<nav aria-label="Page navigation">
        <ul class="pagination pagination-md justify-content-center mt-3">
        {% if page_obj.has_previous %}
        <li class="page-item">
                <a class="page-link" href="?{{'1'|render_page_query_string:request.GET}}"><< </a>
        </li>
        <li class="page-item">
                <a class="page-link" href="?{{page_obj.previous_page_number|render_page_query_string:request.GET}}">< </a>
        </li>
        {% endif %}

        {% for page_num in page_range %}
                {% if page_num == page_obj.number %}
                <li class="page-item active">
                        <a class="page-link" href="?{{page_num|render_page_query_string:request.GET}}">{{page_num}}</a>
                </li>
                {% elif page_num > 0 and page_num <= page_obj.paginator.num_pages %}
                    <li class="page-item">
                        <a class="page-link" href="?{{page_num|render_page_query_string:request.GET}}">{{page_num}}</a>
                </li>
                {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
        <li class="page-item"><a class="page-link" href="?{{ page_obj.next_page_number|render_page_query_string:request.GET }}">></a></li>
        <li class="page-item"><a class="page-link" href="?{{ page_obj.paginator.num_pages|render_page_query_string:request.GET }}">>></a></li>
        {% endif %}
        </ul>
</nav>
